#feature_component {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 115px;
  padding: 0 2rem ;
}

#feature_component p {
  text-align: center;
  margin: 0;
}

#feature_head {
  padding: 8px 0 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #323334;
}

#feature_data {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #3E4F55;
}