#features {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#feature_container {
  display: flex;
  width: 75%;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 720px) {
  #features {
    margin-top: 60px;
  }
  #feature_container {
    width: 100%;
    flex-direction: column;
  } 
  #feature_text {
    width: 75%;
  }
}