#location_details {
  display: flex;
}

#style_image {
  position: relative;
  top: 25px;
  width: 50px;
  height: 40px;
}
#location_card_container {
  margin: 0 35px 0 10px;
  z-index: 1;
}
#location_card {
  display: flex;
  background-color: white;
  padding: 10px 25px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
#style {
  z-index: -1;
  width: 180px;
  height: 110px;
  top: -75px;
  left: 710px;
  position: relative;
}

#map_button button{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  background-color: #FAFEFF;
  padding: 12px 30px;
  font-size: 14px;
  color: #24292B;
  position: relative;
  top: -32%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

#l_heading {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #373F42;
}

#l_data {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3E4F55;
}