#tours_continer {
  display: grid;
  font-family: 'Lato';
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 0 10px 0;
}
#tours_continer p {
  padding-top: 10px;
  margin: 0;
}
#tours_continer img {
  width: auto;
  height:220px;
  max-width: 250px;
  border-radius: 3%;
}
.sta {  
  color: #3E4F55;
}

#tour_price {
  font-style: normal;
  font-weight: 700;
  font-size: 18.51px;
  line-height: 22px;
  text-align: center;
  color: #3E4F55;
}
.tour_head {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #24292B;
}

.tour {
  margin: 100px 0 25px 100px;
}

.tour_card {
  padding-right: 1rem;
}

@media screen and (max-width: 720px) {
  #tours_continer {
    padding-left: 30px;
    display: block;
    height: 350px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  #tours_continer::-webkit-scrollbar {
    display: none;
  }
  .tour_card {
    display: inline-block;
  }

  .tour {
    margin: 0;
    padding-bottom: 2.5rem;
  }
  .tour img {
    width: 60%;
  }
  .tour_contact {
    width: 110%;
  }
}
