.headerImage {
  width: 65%;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-bottom: 400px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}
#align {
  height: 15rem;
}
@media screen and (max-width: 720px) {
  .headerImage {
    width: 80%;
    padding-bottom: 180px
  }
  #align {
    height: 20vh;
  }
}