.headerImage {
  width: 65%;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-bottom: 30%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  transform: translate(0, 4%);
}

.col {
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .headerImage {
    width: 75%;
    padding-bottom: 170px
  }
  #content {
    transform: translate(0, 1.75%);
  }
}

a {
    all: unset;
}

p {
    margin: 0;
}